main{
    background-image: url("img/fondo.jpeg");
    background-size: cover;
    color: antiquewhite;
}

.table{
    color: white;
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 15px;
}

.card{
    color: black;
    margin: 0.5em;
    width: calc(100%/3);
}

.cards-wrapper{
    display: flex;
}
#dia{
    text-align: center;
    justify-content: center;
    display: flex;
}
#sensaciont{
    text-align: left;
    
}

#prep1, #wind1,#wind,#precip{
    text-align: center;
    justify-content: center;
}
#card{
    justify-content: center;
}
#carru{
    background-color:rgba(5, 5, 5, 0.5);
    border-radius: 15px;
}